@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;400&display=swap');

body {
    /* centra body */
    width: 800px;
    margin: auto;
    /* centra body */

    font-family: 'League Spartan', sans-serif;
    background-color: rgb(235, 228, 241);
    color: #423F3F

}

header{ 
    height: 60px;
    
    display: flex; /*el nav se pone al lado de la imagen*/
    /*separacion y alineado*/
    justify-content: space-between;

    /*alinear texto en vertical*/
    line-height: 60px;

}   

/*logo superior*/
#logo {
    /*separacion interna*/
    padding-top: 12px
}
/* enlaces de menu*/
nav a{
    text-decoration: none; /*quitar el subrayado*/
    color: #423F3F; /*cambia color letra del menu o barra*/

    /*agradamos area de click*/
        padding: 10px
    
}/*colorcito para cuando se pocisiona sobre palabra*/
    nav a:hover {
        color: #D15742
    }

main{ /*se usa para cuanto espacio se ponen las cosas*/
    min-height: 575px
}

footer{ 
    height: 100px;
    line-height: 100px ; /*para poner en vertical*/
    /*text-align center*/
    display: flex; /*habilita el sistema de cajas flexibles*/
    justify-content: space-between;


}

footer img{ /*edita las imagenes de redes sociales antes puestas en html*/
    width: 24px; /*establece la separacion entre cada imagen*/
    padding: 6px ; /*establece el espacio de relleno requerido*/
    opacity: .5; /*establece la opacidad*/
}

footer img:hover { /*todas las imagenes 
    van a tener una opacidad cuando se toque*/
    opacity: 1; 
}
