@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;900&display=swap');
*{
    margin: 0px;
    padding: 0px; /*aumenta la caja*/
    box-sizing: border-box;
}

body {
    font-family: 'Mulish', sans-serif;
    font-size: 20px;

}

#compras{
    color: #0a2f71;
    width: 700px;
    margin: auto;
}

    #compras img {
        width: 56px;
        vertical-align: middle;
        margin-right: 10px;

    }

    h1{
        color: #04146c;
        font-weight: 900;
        margin-bottom: 20px;
    }

    h2{
        font-weight: 700; /*tamaño cuerpo*/
        font-size: 18px; /*tamaño letra*/

    }
    #compras p{
        margin: 1px /*eje vertical*/ 66px /*eje horizontal*/;
    }