   @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;900&display=swap');
 *{
  /* box-sizing: border-box; */
    margin: 0px;
    padding: 0px;
  }
               
body{
    font-family: 'Montserrat', sans-serif; 
}
                
#bkfriday {
    width: 1100px;
    margin: auto;      /*centras una caja*/
    border: 1px solid #000;
    text-align: center;

    /*para tranformar en mayuscula*/
    text-transform: uppercase;
    }
                            
#fecha {
    font-size: 50pt;
    font-weight: 900;
    background-color: #000;
    color: #fff;
    /*que ocupe todo el ancho disponible*/
    display: block;
    padding: 25px 0px;
    }
h1 {
    line-height: 190px;
    font-size: 148pt;
}
    #friday {
 /*que ocupe todo el ancho*/
    display: block;

    font-size: 163pt;
    background-color: #000;
    color: #fff;

    padding: 50px 0px 
}
h2{
    font-size: 45pt;
}
    #semi{
        font-size: 36pt;
        font-weight: 600;
    }
#pie{
    font-weight: 600;
    font-size: 44pt;

    display: block;

    background-color: #000;
    color: #fff;
    padding: 16px 0px;
}    
   